Rust/Duration/Sequencial/target
Rust/Duration/Parallel/target
Rust/General/Sequencial/target
Rust/General/Parallel/target
Rust/General_without_Print/Sequencial/target
Rust/General_without_Print/Parallel/target

tcc
*.mod